In [20]:
#1
lst = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
even = []
for i in lst:
  if i%2 == 0:
    even.append(i)
print(sum(even))
odd = []
for i in lst:
  if i%2 != 0:
     odd.append(i)
prod = 1
for x in odd:
  prod *= x
print(prod)
s = sum(lst)
n = len(lst)
mean = s/n
median = (n+((n+1)/2))/2
sd = sum([(i-mean)**2 for i in lst])
sdv = (sd/n)**0.5
print(mean,median,sdv)

110
654729075
10.5 15.25 5.766281297335398

In [39]:
#2
# mutable - these data types are which can changed after they are created.
#eg. list can be changed by using append
lst=[1]
lst.append(2)
print(lst)
#immutable - these are the data types which cannot be changed after they are created.
#eg.tuples

[1, 2]

In [ ]:
#3
l = []
n=int(input())
a = 0
b = 1

l.append(a)
for i in range(1,n):
  l.append(b)
  nxt_no = a+b
  a = b
  b = nxt_no
print(l)

10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [21]:
#4
lst = [3, 5, 7, 9, 13]
lst.insert(3,6)
print(lst)


lst.remove(7)
print(lst)


lst.reverse()
print(lst)


lst1=[3, 5, 7, 6, 9, 13]
s = sum(lst1)
n = len(lst1)
mean = s/n
median = (n+((n+1)/2))/2
print(mean)
print(median)

[3, 5, 7, 6, 9, 13]
[3, 5, 6, 9, 13]
[13, 9, 6, 5, 3]
7.166666666666667
4.75

In [ ]:
\from re import L
#5
l = input()
n = l.split(',')
print(n)

a = [int(x) for x in n]
l = sum(a)
m = len(n)
mean = l/m
print(mean)

small = min(a)
big = max(a)
print(small,big)

1,2,3,4,5
['1', '2', '3', '4', '5']
3.0
1 5

In [ ]:
#6
str=input()
new_str=str.lower()
#did this lower due to as if i took a normal str it would give me issue with the capital letters. eg. Naman
new_str1="".join(new_str.split())
if new_str1== ((new_str1)[::-1]):
  print("True")
else:
  print("False")

A man a plan a canal Panama
True

In [ ]:
#7
student_marks = {
    'Aditya': 85,
    'akshat': 92,
    'garv': 78,
    'raj': 88,
    'harsh': 95}

avg = sum(student_marks.values())/len(student_marks)
print(avg)

for students, marks in student_marks.items():
  if marks > avg:
    print(students)

87.6
akshat
raj
harsh

In [ ]:
#8
lst = [(1,1), (2,4), (3,9), (4,16), (5,25), (6,36), (7,49), (8,64), (9,81), (10,100)]
A = tuple(lst)
print(A)

((1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100))

In [ ]:
#9
d1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
d2 = {'e': 5, 'f': 6, 'g': 7, 'h': 8}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8}

In [ ]:
#10
str = input()
str1 = str.lower()
print(str1)

def f(x):
  fdict = {}
  for i in x:
    if i in fdict:
      fdict[i] += 1
    else:
      fdict[i] = 1
  return fdict

print(f(str1))

aditya
aditya
{'a': 2, 'd': 1, 'i': 1, 't': 1, 'y': 1}

In [ ]:
#11 duplicates krna
lst = input()
x = lst.split()


lst1 = []
for i in lst:
  if i not in x:
      lst1.append(i)
print(lst1)

1,2,2,4,1
['1', ',', '2', ',', '2', ',', '4', ',', '1']

In [ ]:
#12
lst = ["aditya", "aryan", "raj", "nayan", "pranav"]
lst2 = []
for i in lst:
  lst2.append(int(len(i)))

print(max(lst2))
#took the len of longest string first which is used to easily give the longest string.
for i in lst:
  if len(i) == max(lst2):
    print(i)

vow = ["a","e","i","o","u"]
c = []
for i in lst:
  if i[0] in vow:
    c.append(i)

print(len(c))

6
aditya
pranav
2

In [38]:
#13
dict = [{'name': 'Aditya', 'age': 18}, {'name': 'Aryan', 'age': 16}]

sort_age = sorted(dict, key=lambda item: item['age'])
sort_name = sorted(dict, key=lambda item: item['name'])
#here used lambda to specify the value on which sorting is to be done
print(sort_age)
print(sort_name)

[{'name': 'Aryan', 'age': 16}, {'name': 'Aditya', 'age': 18}]
[{'name': 'Aditya', 'age': 18}, {'name': 'Aryan', 'age': 16}]

In [12]:
#14

str = input()
word = str.split()
print(word)

rem = []
for i in word:
  if len(i) >= 4:
    rem.append(i)
print(rem)

rem.sort()
print(rem)

Aditya is good boy and successful engineer
['Aditya', 'is', 'good', 'boy', 'and', 'successful', 'engineer']
['Aditya', 'good', 'successful', 'engineer']
['Aditya', 'engineer', 'good', 'successful']

In [ ]:
#15
input = "listen"
inputlst = ["enlist", "google", "inlets", "banana"]

letters = []
for i in word:
    letters.append(i)

def anagram(x,input):
    if len(x) != len(word):
        return 'False'
    else:
        agm = 'True'
        for i in x:
            if i not in letters:
                agm = 'False'
        return agm



anagrams = []
for i in words:
    if anagram(i,word) == 'True':
        anagrams.append(i)

print(anagrams)

['enlist', 'inlets']

In [26]:
#16
list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = [10,19,20,1,2,3,4,5,13]

union = set(list1) | set(list2)
intersection = set(list1) & set(list2)
symdiff = set(list1).symmetric_difference(set(list2))

print(union)
print(intersection)
print(symdiff)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 19, 20}
{1, 2, 3, 4, 5, 10}
{6, 7, 8, 9, 13, 19, 20}

In [26]:
#17
file_name = 'psdv'
with open(file_name, 'w') as file:
  file.write("1\n")
  file.write("2\n")
  file.write("3\n")
  file.write("4\n")

with open(file_name,'r') as file:
  re =  file.read()
print(re)
#made a list to calculate the sum easily
lst = []
for line in re.splitlines():
  lst.append(int(line.strip()))
s = sum(lst)
print(s)

1
2
3
4

10

In [23]:
#18
file_name = 'q18.txt'

with open(file_name,'w') as file:
  file.write("Aditya\nHarsh\nRaj\nSoumil\nAditya")

lst = []
with open(file_name,'r') as file:
  re = file.read()
  lst=re.split()
count = len(lst)
print(count)
print(re)
m=0
mw=None
for words in lst:
  if lst.count(words)>m:
   m= lst.count(words)
   mw=words
print(mw)

5
Aditya
Harsh
Raj
Soumil
Aditya
Aditya

In [36]:
#19
import numpy as np

lst = np.random.randint(1,50,100)
print(lst)


file_name = 'intf'

with open(file_name, 'w') as file:
  for x in lst :
        file.write(f"{x}\n")

with open(file_name, 'r') as file:
  re = file.read()


lst1 = []
for line in re.splitlines():
  lst1.append(int(line.strip()))
#used splitlines to split the string into list of lines and used line.strip to remove spaces
s = sum(lst1)
print(s)
n= len(lst1)
mean = s/n
print(mean)

[20 36 35 13 16 39 41 33  6 10 18 27 11 16 31 30  5  1 11 43 24 38 17 12
 28 20 13 41 13 37  3 45 32  7  5 14 41 14 48 13  1 20 44  8 21 34 46  1
 12 23 31 16  3  5 49 26 28  8  4 29 49 16 28 25 35 20 17 19 13  4  8 49
 44 42  7 25 38  9 39 19  1 31 34 21 27 26 24 19  6 27 39 42 29  9  3 48
 10  9 12  9]
2248
22.48

In [14]:
#20
file_name = 'q20.csv'

with open(file_name, 'w') as csvfile:
  for x in lst :
        csvfile.write("1\n2\n3\n4\n5\n6\n7\n")

with open(file_name, 'r') as csvfile:
  re = csvfile.read()

print(re)
#not able to code further on csv file

1
2
3
4
5
6
7
1
2
3
4
5
6
7
1
2
3
4
5
6
7
1
2
3
4
5
6
7
1
2
3
4
5
6
7

In [25]:
#21
import statistics
lst = [1,2,3,4,5,6,6,7,2,3,1,6,7]
s = sum(lst)
n = len(lst)
mean = s/n
median = (n+((n+1)/2))/2

sd = sum([(i-mean)**2 for i in lst])
sdv = (sd/n)**0.5
print(mean)
print("mode:",statistics.mode(lst))
#couldn't calculate mode so used import
print(median)
print(sdv)

4.076923076923077
mode: 6
10.0
2.1289773081689307

In [34]:
#22
import numpy as np
num = np.linspace(0,1,10)
#used linspace to get exact 10 values between 0 and 1
m = min(num)
n = max(num)
nor = [(x - m) / (n - m) for x in num]
print(nor)

[0.0, 0.1, 0.2, 0.30000000000000004, 0.4, 0.5, 0.6000000000000001, 0.7000000000000001, 0.8, 0.9, 1.0]

In [18]:
#23
a = int(input())
if a%2 == 0:
  print('even')
else:
  print('odd')

10
even

In [20]:
#24
marks = int(input())
if 90<marks<=100:
  print('A')
if 80<marks<=90:
  print('B')
if 70<marks<=60:
  print('C')
if 60<marks<=50:
  print('D')
if 50<marks<=0:
  print('F')

85
B

In [40]:
#25
yr = int(input())
if yr%4 == 0:
  if yr%100== 0 and yr%400 != 0:
    print('Not a leap year')
  else:
    print('Leap year')
else:
  print('Not a leap year')

2024
Leap year